.wrapper {
  padding: 50px 100px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.demolist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
